In [2]:
person = {"firstname":"Hira", "lastname":"Ahmed","age":35,"city":"Karachi","profession":"Project Manager"}
print(person)
len(person) #length of dictionary

{'firstname': 'Hira', 'lastname': 'Ahmed', 'age': 35, 'city': 'Karachi', 'profession': 'Project Manager'}

5

In [3]:
person["profession"] = "Senior Project Manager" #Modify dictionary
print(person)

{'firstname': 'Hira', 'lastname': 'Ahmed', 'age': 35, 'city': 'Karachi', 'profession': 'Senior Project Manager'}

In [4]:
person["hobbies"] = ["gardening", "movies","music"] #Adding list to existing dictionary
print(person)

{'firstname': 'Hira', 'lastname': 'Ahmed', 'age': 35, 'city': 'Karachi', 'profession': 'Senior Project Manager', 'hobbies': ['gardening', 'movies', 'music']}

In [5]:
print(person)

{'firstname': 'Hira', 'lastname': 'Ahmed', 'age': 35, 'city': 'Karachi', 'profession': 'Senior Project Manager', 'hobbies': ['gardening', 'movies', 'music']}

In [6]:
del person["hobbies"] #deleting from an existing dictionary. Delete key "hobbies"
person

{'firstname': 'Hira',
 'lastname': 'Ahmed',
 'age': 35,
 'city': 'Karachi',
 'profession': 'Senior Project Manager'}

In [7]:
person.keys() #this prints all the key names

dict_keys(['firstname', 'lastname', 'age', 'city', 'profession'])

In [8]:
person.values() #this prints all the value elements

dict_values(['Hira', 'Ahmed', 35, 'Karachi', 'Senior Project Manager'])

In [9]:
# Checking if a key exists in a dictionary
person = {"name": "Alice", "age": 30, "city": "New York"}

if "name" in person:
    print("Name exists in the dictionary.")
else:
    print("Name does not exist in the dictionary.")

Name exists in the dictionary.

In [10]:
person = {"firstname":"Hira", "lastname":"Ahmed","age":35,"city":"Karachi","profession":"Project Manager"}
person.get("firstname")

'Hira'

# **TASK**

In [12]:
favorite_movie = {"Title":"Openheimer", "Director":"C. Nolan", "genre":"Action/Sci-Fi"}
favorite_movie

{'Title': 'Openheimer', 'Director': 'C. Nolan', 'genre': 'Action/Sci-Fi'}

In [13]:
for i in favorite_movie:
  print("key:", i)
  print("value:", favorite_movie[i])

key: Title
value: Openheimer
key: Director
value: C. Nolan
key: genre
value: Action/Sci-Fi

In [14]:
favorite_movie.items()

dict_items([('Title', 'Openheimer'), ('Director', 'C. Nolan'), ('genre', 'Action/Sci-Fi')])

# **TUPLES**

In [15]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
concat_tuple = tuple1+tuple2
print(concat_tuple)

(1, 2, 3, 4, 5, 6)

In [17]:
tuple1 = (1,2,3)
repeat = tuple1*4
print(repeat)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [18]:
print(6 in tuple1)

False

In [20]:
tuple1 = (1,2,3) #Tuple - packing and unpacking values
a,b,c = tuple1
print(a)
print(b)
print(c)
#Output will be unpacked values

1
2
3

In [22]:
tuple1 = (1,2,3)

for i in tuple1:
  print(i)

1
2
3