Python questions focusing on for loops, lists, list functions, and operators:

In [ ]:
#Option 1 --> 1. Write a Python program to print the numbers from 1 to 10 using a for loop.
num = 1,2,3,4,5,6,7,8,9,10
for i in num:
  print(i)
print()
#Option 2 --> 1. Write a Python program to print the numbers from 1 to 10 using a for loop.
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 2. Create a list containing the numbers 1 to 5. Then, using a for loop, print each element of the list.
num = [1,2,3,4,5]
for i in num:
  print(i)

1
2
3
4
5

In [ ]:
# 3. Write a program that takes a list of numbers and returns the sum of all the numbers in the list.
num1 = [1, 3, 5, 7, 9]
total = sum(num1)
print("The sum of all the numbers in the list is:", total)

The sum of all the numbers in the list is: 25

In [ ]:
# 4. Given a list of strings, write a program to concatenate all the strings into one.
firstname = ["Hira"]
middlename = ["Ahmed"]
lastname = ["Shaikh"]
fullname = " ".join(firstname+middlename+lastname) #concatinate
print(fullname)

Hira Ahmed Shaikh

In [ ]:
# # 4. Given a list of strings, write a program to concatenate all the strings into one.
# firstname = ["Hira"]
# middlename = ["Ahmed"]
# lastname = ["Shaikh"]
# fullname = firstname+middlename+lastname #this is appending
# print(fullname)
# Output = ['Hira', 'Ahmed', 'Shaikh']

In [ ]:
# 5. Write a program that takes a list of numbers and returns the largest number in the list.
num_list = [50,20,10,30,40]
print(max(num_list)) # max() function in Python, which returns the largest item in an iterable.

50

In [ ]:
# 6. Create a list containing the numbers 1 to 10. Using a for loop, square each number in the list and print the result.
nums = [1,2,3,4,5,6,7,8,9,10]

for i in nums:
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
# 7. Write a program that takes a list of numbers and returns a new list containing only the even numbers from the original list.
num_list = [1,2,3,4,5,6,7,8,9,10]
even_num_list = [i for i in num_list if i % 2 == 0]
print(even_num_list)

[2, 4, 6, 8, 10]

In [ ]:
# 8. Given two lists of numbers, write a program to combine the lists element-wise (i.e., element-wise addition).
num_list1 = [1,2,3,4,5,6,7,8,9]
num_list2 = [9,8,7,6,5,4,3,2,1]
combined_list = [num1+num2 for num1 , num2 in zip(num_list1, num_list2)] #element-wise addition of the two lists.
print(combined_list)

[10, 10, 10, 10, 10, 10, 10, 10, 10]

In [ ]:
# 9. Write a program that takes a list of strings and returns a new list containing the lengths of each string.
list1 = ['Hira','Zahid','Huzaifa','Fatima','Faheem']

print([len(string) for string in list1])
#This code iterates over each string in list1, calculates the length of each string using the len() function, and collects these lengths into a new list lengths. Finally, it prints the lengths list.

[4, 5, 7, 6, 6]

In [ ]:
# 10. Create a list of numbers from 1 to 10. Using list slicing and a for loop, print every second element of the list.
nlist = [1,2,3,4,5,6,7,8,9,10]
print(nlist[::2])

[1, 3, 5, 7, 9]

In [ ]:
# 1-Write a program to convert Celsius to Fahrenheit.
#Formula: (0°C × 9/5) + 32
temp_c = int(input("Input Temperature in Celsius: " ))
temp_f = (temp_c * 9/5) + 32
print("The Temperature in Fahrenheit is:", temp_f)

Input Temperature in Celsius: 45
The Temperature in Fahrenheit is: 113.0

In [ ]:
# 2-Write a program to check if a number is prime.
val = int(input("Enter a Number: "))
if val > 1:
    for i in range(2, int(val ** 0.5) + 1):
        if val % i == 0:
            print("It is not a prime number.")
            break
    else:
        print("It is a prime number.")
else:
    print("It is not a prime number.")

Enter a Number: 3
It is a prime number.

In [ ]:
# 3-Write a program to check if a string is a palindrome.
val = input("Enter a String (in lower case): ")
if val == val[::-1]:
  print("The string is a palindrome.")
else:
  print("The string is not a palindrome.")

Enter a String (in lower case): opopo
The string is a palindrome.

In [ ]:
# 4-Write a program to reverse a string or list.
list1 = [2,4,6,8,10]
list1.reverse()
print("Reversed list:", list1)

string1 = ["a","b","c"]
string1.reverse()
print("Reversed list:", string1)

string1 = "abcd"
reversed_string = string1[::-1] # Reversing a string using slicing
print(reversed_string)

Reversed list: [10, 8, 6, 4, 2]
Reversed list: ['c', 'b', 'a']
dcba

In [ ]:
# 5-Write a program to find the largest number in a list.
list_a = [2,4,6,8,10,100]
print("The largest number in the list is:", max(list_a))

The largest number in the list is: 100

In [ ]:
# 6-Write a program to find the sum of all numbers in a list.
list_a = [2,4,6,8,10]
print("The sum of all the numbers in the list is:", sum(list_a))

The sum of all the numbers in the list is: 30

In [ ]:
# 7-Write a program to check if a number is even or odd.
n = int(input("Enter a number here: "))

if n%2==0:
   print("The number is Even")
else:
  print("The number is Odd")

Enter a number here: 7
The number is Odd