# **FUNCTIONS**

In [1]:
def cube():
  x = 2**3
  return x
cube()

8

**DYNAMIC FUNCTION WITH USER INPUT**

In [3]:
i = int(input("enter a number: "))
def cube():
  x = i**3
  return x
cube()

enter a number: 5

125

In [4]:
i = int(input("enter a number: "))
def square():
  x = i**2
  return x
square()

enter a number: 2

4

In [6]:
num1 = int(input("enter 1st number: "))
num2 = int(input("enter 2nd number: "))
num3 = int(input("enter 3rd number: "))
num4 = int(input("enter 4th number: "))

def avg():
  x = (num1+num2+num3+num4)/4
  return x
avg()

enter 1st number: 3
enter 2nd number: 4
enter 3rd number: 3
enter 4th number: 4

3.5

In [30]:
num1 = int(input("enter 1st number: "))
num2 = int(input("enter 2nd number: "))
num3 = int(input("enter 3rd number: "))
num4 = int(input("enter 4th number: "))

def avg():
  x = (num1+num2+num3+num4)
  z = x/4
  return z
avg()

enter 1st number: 2
enter 2nd number: 3
enter 3rd number: 2
enter 4th number: 3

2.5

In [12]:
fname = input("enter your first name: ")
lname = input("enter your last name: ")

def myfunc(fname,lname):
  print("First Name: "+fname+" "+lname)
myfunc(fname,lname)

enter your first name: Hira
enter your last name: Ahmed
First Name: Hira Ahmed

In [14]:
def myfunc(fname, lname, age, qualification):
    print("Name: " + fname + " " + lname)
    print("Age: " + str(age))
    print("Qualification: " + qualification)

fname = input("Enter your first name: ")
lname = input("Enter your last name: ")
age = int(input("Enter your age: "))
qualification = input("Enter your qualification: ")

myfunc(fname, lname, age, qualification)

Enter your first name: Hira
Enter your last name: Ahmed
Enter your age: 35
Enter your qualification: MBA
Name: Hira Ahmed
Age: 35
Qualification: MBA

In [13]:
def myfunc():
    print("Name: " + fname + " " + lname)
    print("Age: " + str(age))
    print("Qualification: " + qualification)

fname = input("Enter your first name: ")
lname = input("Enter your last name: ")
age = int(input("Enter your age: "))
qualification = input("Enter your qualification: ")

myfunc(fname, lname, age, qualification)

Enter your first name: Hira
Enter your last name: Ahmed
Enter your age: 35
Enter your qualification: MBA

TypeError: myfunc() takes 0 positional arguments but 4 were given

In [20]:
num = int(input("Enter a number: "))
def factorial(num):
  if num<=1 :
    return 1
  else:
    return num * factorial(num-1)

factorial(num)

Enter a number: 24

620448401733239439360000

In [29]:
length = int(input("Enter length of an area: "))
breadth = int(input("Enter breadth of an area: "))

def area(length, breadth):
  print("Area is: ", length*breadth)
area(length, breadth)

def perimeter(length, breadth):
  print("Perimeter is: ", 2 * (length+breadth))
perimeter(length, breadth)

Enter length of an area: 2
Enter breadth of an area: 2
Area is:  4
Perimeter is:  8