In [1]:
# Exercise 1: Convert two lists into a dictionary
# keys = ['Ten', 'Twenty', 'Thirty']
# values = [10, 20, 30]
# Expected output: {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

#Solution:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dictionary = dict(zip(keys, values))
dictionary

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [5]:
# Exercise 2: Merge two Python dictionaries into one
# dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
# dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
# Expected output: {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

#Solution:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# Create a new dictionary by unpacking both dict1 and dict2
merged_dict = {**dict1, **dict2}

print(merged_dict)
# Explanation
# update() method: This method adds elements from dict2 to dict1.
# If there are duplicate keys, the values from dict2 will overwrite those from dict1.
# Unpacking operator **:
# This creates a new dictionary with keys and values from both dict1 and dict2.
# If there are duplicate keys, the values from dict2 will overwrite those from dict1.

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [13]:
# Exercise 3: Print the value of key ‘history’ from the below dict
# sampleDict = {
#     "class": {
#         "student": {
#             "name": "Mike",
#             "marks": {
#                 "physics": 70,
#                 "history": 80
#             }
#         }
#     }
# }
# Expected output: 80

#Solution:

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
# Accessing the value of the key 'history'
print(sampleDict["class"]["student"]["marks"]["history"])

80

In [19]:
# Exercise 4: Create a dictionary by extracting the keys from a given dictionary
# sample_dict = {
#     "name": "Kelly",
#     "age": 25,
#     "salary": 8000,
#     "city": "New york"}

# # Keys to extract
# keys = ["name", "salary"]
# Expected output: {'name': 'Kelly', 'salary': 8000}

#Solution:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

# Create a new dictionary using dictionary comprehension
extracted_dict = {key: sample_dict[key] for key in keys}

print(extracted_dict)

# Explanation
# extracted_dict = {}: Create an empty dictionary to store the extracted key-value pairs.
# for key in keys: Iterate over each key in the keys list.
# extracted_dict[key] = sample_dict[key]: Add the key-value pair to extracted_dict from sample_dict.

{'name': 'Kelly', 'salary': 8000}

In [25]:
# Exercise 5: Delete a list of keys from a dictionary
# sample_dict = {
#     "name": "Kelly",
#     "age": 25,
#     "salary": 8000,
#     "city": "New york"
# }
# Keys to remove
# keys = ["name", "salary"]
# Expected output: {'city': 'New york', 'age': 25}

#Solution:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
# Keys to remove
keys = ["name", "salary"]

for key in keys:
    del sample_dict[key]

print(sample_dict)

{'age': 25, 'city': 'New york'}

In [30]:
# Exercise 6: Check if a value exists in a dictionary
# Write a Python program to check if value 200 exists in the following dictionary.

# Given:
# sample_dict = {'a': 100, 'b': 200, 'c': 300}

# Expected output:
# 200 present in a dict

#Solution:
sample_dict = {'a': 100, 'b': 200, 'c': 300}

for i in sample_dict.values():
  if i == 200:
    print(i," is present in the dict")

200  is present in the dict

In [34]:
# Exercise 7: Rename key of a dictionary
# Given:
# sample_dict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
# }
# Expected output:
# {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

#Solution:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sample_dict["location"] = sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [35]:
# Exercise 8: Get the key of a minimum value from the following dictionary
# sample_dict = {
#   'Physics': 82,
#   'Math': 65,
#   'history': 75
# }
# Expected output:
# Math

#Solution:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

min_key = min(sample_dict, key=sample_dict.get)
print(min_key)

Math

In [37]:
# Exercise 9: Change value of a key in a nested dictionary
# Write a Python program to change Brad’s salary to 8500 in the following dictionary.
# Given:
# sample_dict = {
#     'emp1': {'name': 'Jhon', 'salary': 7500},
#     'emp2': {'name': 'Emma', 'salary': 8000},
#     'emp3': {'name': 'Brad', 'salary': 500}
# }
# Expected output:
# {
#    'emp1': {'name': 'Jhon', 'salary': 7500},
#    'emp2': {'name': 'Emma', 'salary': 8000},
#    'emp3': {'name': 'Brad', 'salary': 8500}
# }

#Solution:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary'] = 8500
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [42]:
# Exercise 10: Print the sum of the current number and the previous number
# Write a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.

# Expected Output:
# Printing current and previous number sum in a range(10)
# Current Number 0 Previous Number  0  Sum:  0
# Current Number 1 Previous Number  0  Sum:  1
# Current Number 2 Previous Number  1  Sum:  3
# Current Number 3 Previous Number  2  Sum:  5
# Current Number 4 Previous Number  3  Sum:  7
# Current Number 5 Previous Number  4  Sum:  9
# Current Number 6 Previous Number  5  Sum:  11
# Current Number 7 Previous Number  6  Sum:  13
# Current Number 8 Previous Number  7  Sum:  15
# Current Number 9 Previous Number  8  Sum:  17

#Solution:
x = 0
for y in range(10):
    z = y + x
    print("Current Number {} Previous Number {} Sum: {}".format(y, x, z))
    x = y

Current Number 0 Previous Number 0 Sum: 0
Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17

In [47]:
# Exercise 11: Display numbers divisible by 5 from a list
# Iterate the given list of numbers and print only those numbers which are divisible by 5

# Expected Output:
# Given list is  [10, 20, 33, 46, 55]
# Divisible by 5
# 10
# 20
# 55

#Solution:
list1 = [10, 20, 33, 46, 55]
for i in list1:
  if i % 5 == 0:
    print(i)

10
20
55

In [55]:
# Exercise 12: Calculate income tax for the given income by adhering to the rules below
# Taxable Income	Rate (in %)
# First $10,000	0
# Next $10,000	10
# The remaining	20

# Expected Output:
# For example, suppose the taxable income is 45000, and the income tax payable is
# 10000*0% + 10000*10%  + 25000*20% = $6000.

#Solution:
def calculate_income_tax(income):
    if income <= 10000:
        tax = 0
    elif income <= 20000:
        tax = (income - 10000) * 0.10
    else:
        tax = (10000 * 0.10) + (income - 20000) * 0.20
    return tax

# Test the function with the given example
income = int(input("Enter your income: "))
tax = calculate_income_tax(income)
print("For a taxable income of ${}, the income tax payable is ${: .1f}".format(income, tax))
# :.2f: This is a format specification that means:
  # :: Introduces the format spec.
  # .2: Specifies that the number should be rounded to 2 decimal places.
  # f: Indicates that the value is a fixed-point number (i.e., a float).
# So, ${:.2f} formats a floating-point number to two decimal places, and includes a dollar sign before the number.

Enter your income: 60000
For a taxable income of $60000, the income tax payable is $ 9000.0

In [59]:
# Exercise 13: Calculate the sum of all numbers from 1 to a given number
# Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number
# For example, if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)

# Expected Output:
# Enter number 10
# Sum is:  55

#Solution:

number = int(input("Enter a number "))

total_sum = sum(range(1, number + 1))

# Print the result
print("Sum is: ", total_sum)
# Explanation
# Let's break down total_sum = sum(range(1, number + 1)) into its components:
# range(1, number + 1): This creates a sequence of numbers starting from 1 up to number.
# The range() function generates numbers from the starting value (1) up to, but not including, the ending value (number + 1).
# So, if number is 10, range(1, number + 1) will produce the sequence of numbers [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].
# sum(range(1, number + 1)): This calculates the sum of all the numbers in the sequence generated by range(1, number + 1).
# The sum() function takes an iterable (in this case, the sequence of numbers) and returns the sum of all elements in that iterable.
# So, if number is 10, sum(range(1, number + 1)) will sum up all the numbers in the sequence [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], which results in 55.

Enter a number 10
Sum is:  55