In [ ]:
# Full Name:  Hira Ejaz Ahmed
# Contact No: 0331-7770498
# Program Name: PGD - DSAI - B - VII

# Part 1: Attempt any 8 Question

Question 1:
Define two variables, `num1` and `num2`, with values 40 and 52 respectively.Write a Python expression to calculate the sum, difference, product, and quotient of these two variables.

In [ ]:
num1 = 40
num2 = 52
sum = num1+num2
diff = num1-num2
prod = num1*num2
quot = num1**num2
print("The sum of two variables is:", sum)
print("The difference of two variables is:", diff)
print("The product of two variables is:", prod)
print("The quotient of two variables is:", quot)

The sum of two variables is: 92
The difference of two variables is: -12
The product of two variables is: 2080
The quotient of two variables is: 202824096036516704239472512860160000000000000000000000000000000000000000000000000000

Question 2:
Write a Python script that checks if a number entered in a variable `num` by a user is positive, negative, or zero,or check if a user enter any invalid character and prints an appropriate message for each case.

In [ ]:
num = int(input("Enter a number: "))
if num > 0:
  print("The number is Positive")
elif num < 0:
  print("The number is Negative")
else:
  print("The number is Zero")

Enter a number: 0
The number is Zero

Question 3:Write a Python script using a for loop to print all the even numbers between 1 and 20 (inclusive).

In [ ]:
for i in range(1,21):
  if i % 2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20

Question 4:Create two string variables `first_name` and `last_name`. Write a Python script to concatenate these two strings with a space in between and print the full name

In [ ]:
first_name = "Hira"
last_name = "Ejaz Ahmed"
concat = first_name + " " + last_name
print(concat)

Hira Ejaz Ahmed

Question 5: Write a Python script to calculate the area of a rectangle. The length and width of the rectangle should be stored in variables `length` and `width`.

In [ ]:
length = int(input("Enter length of the rectangle in cms: "))
width = int(input("Enter width of the rectangle in cms: "))
area = length*width
print("The area of the rectangle is:" ,area, "cms")

Enter length of the rectangle in cms: 2
Enter width of the rectangle in cms: 2
The area of the rectangle is: 4 cms

Question 6:Write a program to check if a string enter by a user is a palindrome or not.

In [ ]:
item = input("Enter a string value: ")
if item == item[::-1]:
  print("The sring entered is a palindrome")
else:
  print("The sring entered is not a palindrome")

Enter a string value: text
The sring entered is not a palindrome

Question 7: Write a program to check if a number enter by user is prime.

In [ ]:
val = int(input("Enter a Number: "))
if val > 1:
    for i in range(2, int(val ** 0.5) + 1):
        if val % i == 0:
            print("It is not a prime number.")
            break
    else:
        print("It is a prime number.")
else:
    print("It is not a prime number.")

Enter a Number: 6
It is not a prime number.

Question 8: Write a Python script that uses a for loop to iterate through numbers from 1 to 15. For each number, print "Fizz" if the number is divisible by 3, "Buzz" if it is divisible by 5, and "FizzBuzz" if it is divisible by both 3 and 5.

Question 9 : Write a Python script that asks the user for their name and age, stores them in variables, and then prints a message saying "Hello [name], you are [age] years old."

In [ ]:
name = input("Enter your Name: ")
age = input("Enter you Age: ")
print(f"Hello {name}, you are {age} years old")

Enter your Name: John
Enter you Age: 26
Hello John, you are 26 years old

# Part 2: Find error in a code and find the output

In [ ]:
# student_names = ['Luis', 'Divya' 'Maria', 'Mimi')
# student_names.append('Arnold)

In [ ]:
student_names = ['Luis', 'Divya', 'Maria', 'Mimi']
student_names.append('Arnold')
print(student_names)

['Luis', 'Divya', 'Maria', 'Mimi', 'Arnold']

In [ ]:
# find the sum of element in a list
# nums = (3, 8, -4, 22, 0,)

#for num in nums
#num = num--1

In [1]:
# find the sum of element in a list
nums = (3, 8, -4, 22, 0)
total = 0

for num in nums:
    total += num

print(total)

29

In [ ]:
# ages = {
# 'Ahmed': 21,
# 'Faraz: 21
# Sarah': 41
# }

# print('Faraz is {ages} years old.'.format(ages : 24))

In [2]:
ages = {'Ahmed': 21, 'Faraz': 21, 'Sarah': 41}
print('Faraz is {age} years old.'.format(age=ages['Faraz']))

Faraz is 21 years old.

In [ ]:
# Define Mutable and immutable data types with example.
# write a syntax of for loop

# Define Mutable and immutable data types with example.
### Answer: Mutable Data is data that can be changed. For example, Lists, Dictionaries. Immutable Data is data that cannot be changed. For example, Tuples.
# Write a syntax of for loop.
### The for loop is used to iterate the value in a given variable, list or range. For example, in the code below, we can see the 'i' iterator is required to go and look in the range (iterable) between 1 and 20 (21 is exclusive), and print the range.
### Example:
### for i in range(1,21):
###     print(i)